<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>메인페이지</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>

<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">



<script th:inline="javascript">

/*<![CDATA[*/

	var downCnt = [[ ${downCnt} ]];
	var upCnt = [[ ${upCnt} ]];
	var coin = [[ ${coin} ]];

/*]]*/

    $(document).ready(function(){
    	document.getElementById("downCnt").innerHTML = downCnt;
    	document.getElementById("upCnt").innerHTML = upCnt;
    	document.getElementById("money").innerHTML = coin;
    	
    	$(".open-button").on("click", function() {
    		  $(this).closest('.collapse-group').find('.collapse').collapse('show');
    	});

    	$(".close-button").on("click", function() {
    		  $(this).closest('.collapse-group').find('.collapse').collapse('hide');
    	});
    });

</script>

<script type="text/javascript">
	function maxLengthCheck(object) {
		if (object.value.length > object.maxLength) {
			object.value = object.value.slice(0, object.maxLength);
		}
	}
</script>

<link rel="stylesheet" type="text/css" href="/css/upload.css" />

<style>
</style>


</head>
<body>
	<div class="container-md"
		style="margin-top: 25px; margin-bottom: 15px; height: 90vh; background: rgba(0, 0, 0, 0.5); -ms-overflow-style: none;">
		<div class="row" style="color: #fff; padding: 30px;">
			<div class="container-md">
				<div class="row">
					<h2>통계</h2>
					<div class="container-md" style="margin-top: 25px;">
						<div class="collapse-group">
							<div class="controls">
								<button class="btn btn-primary open-button" id="detail" type="button">
									모두 펼치기</button>
								<button class="btn btn-primary close-button" id="detail" type="button">
									모두 접기</button>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" href="#collapseOne"
											aria-expanded="true" aria-controls="collapseOne"
											class="trigger collapsed"> <i
											class="fas fa-file-download" style="margin-right: 10px;"></i><label>총
												다운로드 횟수 : </label> <label id="downCnt">-</label>
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse"
									role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										<table class="table table-striped table-dark">
											<thead class="thead-light">
												<tr>
													<th>게임명</th>
													<th>구매시간</th>
												</tr>
												</thead>
												<tbody id="tableContent">
													<tr th:if="${#lists.size(down)} > 0" th:each="list:${down}">
														<td th:text="${list.name}"></td>
														<td th:text="${list.time}"></td>
													</tr>
													<tr th:unless="${#lists.size(down)} > 0">
														<td colspan="2">구매 내역이 없습니다.</td>
													</tr>
												</tbody>
										</table>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" href="#collapseTwo"
											aria-expanded="true" aria-controls="collapseTwo"
											class="trigger collapsed"> <i class="fas fa-file-upload"
											style="margin-right: 10px;"></i><label>총 업로드 횟수 : </label> <label
											id="upCnt">-</label>
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse"
									role="tabpanel" aria-labelledby="headingTwo">
									<div class="panel-body">
										<table class="table table-striped table-dark">
											<thead class="thead-light">
												<tr>
													<th scope="col">게임명</th>
													<th scope="col">카테고리</th>
													<th scope="col">버전</th>
													<th scope="col">금액</th>
												</tr>
												</thead>
												<tbody id="tableContent">
													<tr th:if="${#lists.size(up)} > 0" th:each="list:${up}">
														<td scope="row"><a th:href="@{/game(number=${list.number})}" th:text="${list.name}" id="gamelink" style="text-decoration:none; color: #c6d4f4; font-weight: bold;"></a></td>
														<td th:text="${list.category}"></td>
														<td th:text="${list.version}"></td>
														<td th:text="${list.amount}"></td>
													</tr>
													<tr th:unless="${#lists.size(up)} > 0">
														<td colspan="4">업로드 내역이 없습니다.</td>
													</tr>
												</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingThree">
									<h4 class="panel-title">
										<i class="fas fa-coins" style="margin-right: 6px;"></i>
										<label>보유 금액 : </label>
										<label id="money">-</label>
									</h4>
								</div>
							</div>
						</div>
						<div style="margin-top: 10px; text-align: right;">
							<button id="detail" onclick="window.close()"
								style="padding: 10px;">닫기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>