<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>메인페이지</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>

<script th:inline="javascript">

/*<![CDATA[*/

var gameCount = [[ ${gameCount} ]];


/*]]*/

    $(document).ready(function(){    	
    	document.getElementById("gameCount").innerHTML = gameCount + "개";
    });

</script>

<script type="text/javascript">
	function maxLengthCheck(object) {
		if (object.value.length > object.maxLength) {
			object.value = object.value.slice(0, object.maxLength);
		}
	}
</script>

<link rel="stylesheet" type="text/css" href="/css/dashboard.css" />

<script src="https://d3js.org/d3.v4.js"></script>
<script src="/js/barChart.js"></script>

</head>
<body>
	<div th:replace="fragment/header :: navBar"></div>

	<div class="container-md"
		style="margin-top: 25px; margin-bottom: 15px; height: 75vh; background: rgba(0, 0, 0, 0.5); overflow-y: scroll; -ms-overflow-style: none;">
		<div class="row" style="color: #fff; padding: 30px;">
			<div class="container-md">
				<div class="row">
					<h2>대시보드</h2>
					<div class="container" style="margin-top: 25px;">
						<nav class="navbar navbar-expand-sm navbar-light"
							style="background-color: rgb(54, 112, 150);">
							<div class="collapse navbar-collapse" id="navbarColor03">
								<ul class="navbar-nav mr-auto">
									<li class="nav-item" style="font-weight: bold;"><a
										class="nav-link" style="color: white;" href="dashboard_1">서버 자원</a></li>
									<li class="nav-item" style="font-weight: bold;"><a
										class="nav-link" style="color: white;" href="#">통계</a></li>
									<li class="nav-item" style="font-weight: bold;"><a class="nav-link" style="color: white;">|</a></li>
									<li class="nav-item" style="font-weight: bold;"><a class="nav-link" style="color: white;"><label style="margin: 0;">등록된 게임 개수 : </label>&nbsp;<label id="gameCount" style="margin: 0;">-</label></a></li>
								</ul>
							</div>
						</nav>
					</div>
					<div class="container-md" style="margin-top: 25px;">
						<div class="row">
							<div class="col-sm-5">
								<form>
									<div class="form-group" style="margin-top: 10px;">
										<label for="exampleInputCategory">조건</label> <select
											class="form-control">
											<option value="count_see">조회 횟수</option>
											<option value="count_download">다운로드 횟수</option>
										</select>
									</div>
									<div class="form-group" style="margin-top: 10px;">
										<label for="exampleInputCategory">표시</label> <select
											class="form-control">
											<option value="ascending">오름차순</option>
											<option value="descending">내림차순</option>
										</select>
									</div>
									<div class="form-group" style="margin-top: 10px;">
										<label for="exampleInputCategory">기간</label> <select
											class="form-control">
											<option value="day">1일</option>
											<option value="week">1주</option>
											<option value="month">1개월</option>
											<option value="halfyear">6개월</option>
											<option value="year">1년</option>
										</select>
									</div>
									<div class="button" style="text-align: right;">
										<button type="button" class="btn btn-black">검색</button>
									</div>
								</form>
							</div>
							<div class="col-sm-7">
								<div id="my_dataviz"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragment/footer :: footer"></div>
</body>
</html>