<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메인페이지</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
	
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	
<script th:inline="javascript">

/*<![CDATA[*/

var list = [[ ${list} ]];
var money = [[ ${money} ]];
var id = [[ ${id} ]];
var name = list[0].name;
var myStatus = [[ ${myStatus} ]];
var already = [[ ${already} ]];
var likeCount = [[ ${likeCount} ]];
var dislikeCount = [[ ${dislikeCount} ]];
var result = money - list[0].amount;

/*]]*/

    $(document).ready(function(){
    	console.log(list);
    	console.log(id);
    	console.log(list[0].orgfile);
    	console.log(result);
    	
    	if(id == list[0].id){
    		$('.add_button').css('display', '');
    	}
    	
    	if(id != "anonymous" && (likeCount != 0 || dislikeCount != 0)){
    		document.getElementById("likeCount").innerHTML = likeCount;
        	document.getElementById("dislikeCount").innerHTML = dislikeCount;
    	}
    	
    	if(already > 0){
    		var likebtn = document.getElementById('like_btn');
    		var dislikebtn = document.getElementById('dislike_btn');
    		
    		likebtn.disabled = 'disabled';
    		dislikebtn.disabled = 'disabled';
    		
    		$('.myStatus').css('display', '');
    		
    		document.getElementById("myStatus").innerHTML = myStatus;
    	}
    	
    	document.getElementById("myId").value = id;
    	document.getElementById("thisGame").value = name;
    	document.getElementById("myAmount").value = list[0].amount;
    	
    	document.getElementById("youtube_info").src = list[0].youtube;
    	document.getElementById("explain_info").innerHTML = list[0].explain.replaceAll("\n","<br>");
    	document.getElementById("uploader_info").innerHTML = list[0].id;
    	document.getElementById("reldate_info").innerHTML = list[0].orgdate;
    	document.getElementById("moddate_info").innerHTML = list[0].newdate;
    	document.getElementById("name_info").innerHTML = list[0].name;
    	
    	if(list[0].amount != 0){
    		document.getElementById("amount_info").innerHTML = list[0].amount + "원";
    	}
    	else{
    		document.getElementById("amount_info").innerHTML = "무료";
    	}
    	
    	if(list[0].category == "advanture"){
    		document.getElementById("genre_info").innerHTML = "어드벤쳐"
    	}
    	else if(list[0].category == "shooting"){
    		document.getElementById("genre_info").innerHTML = "슈팅"
    	}
    	else if(list[0].category == "action"){
    		document.getElementById("genre_info").innerHTML = "액션"
    	}
    	else if(list[0].category == "simulation"){
    		document.getElementById("genre_info").innerHTML = "시뮬레이션"
    	}
    	else if(list[0].category == "sports"){
    		document.getElementById("genre_info").innerHTML = "스포츠"
    	}
    	else if(list[0].category == "fps"){
    		document.getElementById("genre_info").innerHTML = "FPS"
    	}
    	
    	if(list[0].orgdate == list[0].newdate){
    		$('#moddate').css('display', 'none');
    	}
    });
    
    function moneyCheck(){
    	
    	if(result < 0){
    		alert("금액이 부족합니다.\n금액을 충전해주세요.");
    		return false;
    	} else {
    		alert(list[0].name+"을(를) 다운로드 합니다.");
    		location.reload();
    		return true;
    	}
    	
    }

</script>

<script type="text/javascript">
	function maxLengthCheck(object) {
		if (object.value.length > object.maxLength) {
			object.value = object.value.slice(0, object.maxLength);
		}
	}
	
	function question(){
		alert("게임이 삭제되었습니다.");
	}
</script>

<link rel="stylesheet" type="text/css" href="css/game.css" />


</head>
<body>
	<div th:replace="fragment/header :: navBar"></div>

	<div class="container"
		style="margin-top: 25px; margin-bottom: 15px; height: 80vh; background: rgba(0, 0, 0, 0.5); overflow-y: scroll; -ms-overflow-style: none;">
		<div class="row" style="color: #fff; padding: 30px;  height: 85%;">
			<div class="container-md">
				<div class="add_button" sec:authorize="hasAnyRole('ADMIN,SUPER')" style="text-align: right; display: none;">
					<a th:href="@{/admin/mod_upload(number=${list[0].number})}"><button type="button">수정</button></a>
					<a th:href="@{/admin/del_upload(number=${list[0].number})}"><button type="submit" onclick="question()">삭제</button></a>
				</div>
				<div class="row">
					<div class="col-sm-7">
						<div class="embed-responsive embed-responsive-16by9"
							style="width: 100%; height: 95%;">
							<iframe class="embed-responsive-item" id="youtube_info"
								src="https://www.youtube.com/embed/r_OvB9s_eCo?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="context_section">
							<p id="explain_info">-</p>
							<div class="date">
								<span class="date_header" id="uploader">게시자</span>
								<label id="uploader_info">-</label>
							</div>
							<div class="date" id="reldate">
								<span class="date_header" id="rel_date">릴리즈 날짜</span>
								<label id="reldate_info">-</label>
							</div>
							<div class="date" id="moddate">
								<span class="date_header" id="mod_date">업데이트 날짜</span>
								<label id="moddate_info">-</label>
							</div>
							<span class="badge badge-primary" id="genre_info">-</span>
						</div>
						<div class="evaluate" sec:authorize="isAuthenticated()">
							<span id="like" style="margin-right: 10px;">
								<a th:href="@{/evaluate(id=${id},number=${list[0].number},status=좋아요)}">
								<button type="button" class="btn btn-outline-primary" style="background-color: #24c960; color: white;" id="like_btn">
									<i class='fas fa-thumbs-up' style='font-size:18px'></i> 좋아요
								</button>
								</a>
								<label id="likeCount">0</label>
							</span>
							<span id="dislike">
								<a th:href="@{/evaluate(id=${id},number=${list[0].number},status=싫어요)}">
								<button type="button" class="btn btn-outline-primary" style="background-color: #ff745b; color: white;" id="dislike_btn">
									<i class='fas fa-thumbs-down' style='font-size:18px'></i> 싫어요
								</button>
								</a>
								<label id="dislikeCount">0</label>
							</span>
						</div>
						<div class="myStatus" style="display: none;">
							<span id="myChoice"><label id="myStatus">-</label><label>를 선택하였습니다.</label></span>&nbsp;
							<span id="delete">
									<a th:href="@{/evaluate_del(id=${id},name=${list[0].name})}">
									<button type="button" class="btn btn-outline-primary" style="background-color: #2a92e7; color: white;" id="dislike_btn">
										<i class='fas fa-undo' style='font-size:18px'></i> 선택 취소
									</button>
									</a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row"
			style="background: rgba(128, 128, 128, 0.5); color: #fff; padding-left: 30px; padding-right: 30px; height: 15%;">
			<div class="col-sm-6" style="align-self: center;">
				<div class="purchase">
					<label class="game" id="name_info" style="font-weight: bold; margin-bottom: 0;">-</label>
					<span>구매하기</span>
				</div>
			</div>
			<div class="col-sm-1" style="align-self: center;">
				<img src="image/windows-logo.png" style="width: 25px; height: 25px;" />
			</div>
			<div class="col-sm-5"  style="align-self: center; background: black; height: 100%; display: inline-flex;">
						<div class="amount" style="align-self: center; margin-top: 0; margin-bottom: 0; margin-left: 15px; margin-right: 25px;">
							<label id="amount_info" style="margin-bottom: 0; font-size: 24px;">-</label>
						</div>
						<form class="form-inline my-2 my-md-0" name="buyit" th:action="@{/download(file=${list[0].newfile})}" onsubmit="return moneyCheck();" method="POST">
							<div class="purchase" style="align-self: center; padding-left: 0; padding-right: 0;">
								<button type="submit" class="btn btn-primary" id="purchase_button" sec:authorize="isAuthenticated()">구매하기</button>
								<input type="text" id="thisGame" name="name" style="display: none;"/>
								<input type="text" id="myId" name="id" style="display: none;"/>
								<input type="text" id="myAmount" name="money" style="display: none;"/>
							</div>
						</form>
			</div>
		</div>
	</div>
	<div th:replace="fragment/footer :: footer"></div>
</body>
</html>