<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메인페이지</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="../css/main.css" />

<script th:inline="javascript">

/*<![CDATA[*/

var list = [[ ${list} ]];
var auth = [[ ${auth} ]];
var imagedir_org = "D:\\mentoring\\steam_project\\src\\main\\resources\\static\\thumbnail";
var imagedir_new = "..\\thumbnail";

/*]]*/

    $(document).ready(function(){
    	console.log(list);
    	console.log(list[0].thumbnail.replaceAll(imagedir_org, imagedir_new));
    	
    	/* Recent 1 */
    	document.getElementById("one_image").src = list[0].thumbnail.replaceAll(imagedir_org, imagedir_new);
    	document.getElementById("one_name").innerHTML = list[0].name;
    	/* document.getElementById("one_explain").innerHTML = list[0].explain.replaceAll("\n", "<br>");  */   	
    	
    	if(list[0].amount != 0){
    		document.getElementById("one_amount").innerHTML = list[0].amount + "원";
    	}
    	else{
    		document.getElementById("one_amount").innerHTML = "무료";
    	}
    	/* Recent 2 */
    	document.getElementById("two_image").src = list[1].thumbnail.replaceAll(imagedir_org, imagedir_new);
    	document.getElementById("two_name").innerHTML = list[1].name;
    	/* document.getElementById("two_explain").innerHTML = list[1].explain.replaceAll("\n", "<br>");  */   	
    	
    	if(list[1].amount != 0){
    		document.getElementById("two_amount").innerHTML = list[1].amount + "원";
    	}
    	else{
    		document.getElementById("two_amount").innerHTML = "무료";
    	}
    	/* Recent 3 */
    	document.getElementById("three_image").src = list[2].thumbnail.replaceAll(imagedir_org, imagedir_new);
    	document.getElementById("three_name").innerHTML = list[2].name;
    	/* document.getElementById("three_explain").innerHTML = list[2].explain.replaceAll("\n", "<br>");  */   	
    	
    	if(list[2].amount != 0){
    		document.getElementById("three_amount").innerHTML = list[2].amount + "원";
    	}
    	else{
    		document.getElementById("three_amount").innerHTML = "무료";
    	}
    	/* Recent 4 */
    	document.getElementById("four_image").src = list[3].thumbnail.replaceAll(imagedir_org, imagedir_new);
    	document.getElementById("four_name").innerHTML = list[3].name;
    	/* document.getElementById("four_explain").innerHTML = list[3].explain.replaceAll("\n", "<br>");   */  	
    	
    	if(list[3].amount != 0){
    		document.getElementById("four_amount").innerHTML = list[3].amount + "원";
    	}
    	else{
    		document.getElementById("four_amount").innerHTML = "무료";
    	}
    	
    	if(auth == "none"){
    		$('#navbarChk').addClass("justify-content-end");
    	}
    });
    
    function blankchk(){
    	var keyword = document.getElementById("keyword");
       	if(keyword.value == ""){
    		alert("검색어가 입력되지 않았습니다!");
    		return false;
    	}
    }
    
    function popup(){
        var url = "../user/charge";
        var name = "충전";
        var option = "width = 500, height = 500, top = 100, left = 200, location = no, resizable = no"
        window.open(url, name, option);
    }

</script>

</head>
<body>
	<div th:replace="fragment/header :: navBar"></div>

	<div class="container-sm" style="margin-top: 25px;">
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="navbarChk">
		
	  <a class="nav-brand" href="../mypage" sec:authorize="isAuthenticated()" style="font-size: 16px; font-weight: bold; color: white; text-decoration: none; padding: 8px; padding-left: 0px;">마이페이지</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation" style="border:none; outline: none;">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      

      <div class="navbar-collapse collapse" id="navbarsExample03" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" style="font-weight: bold;"><a class="nav-link" style="color: white;" href="../user/purchase" sec:authorize="hasRole('USER')">구매내역</a></li>
					<li class="nav-item" style="font-weight: bold;"><a class="nav-link" style="color: white;" href="javascript:popup()" sec:authorize="hasRole('USER')">충전</a></li>
					<!-- FOR ADMIN -->
					<li class="nav-item" style="font-weight: bold;"><a class="nav-link" style="color: white;" href="/admin/upload" sec:authorize="hasAnyRole('ADMIN,SUPER')">업로드</a></li>
					<!-- FOR SUPER -->
					<li class="nav-item" style="font-weight: bold;"><a class="nav-link" style="color: white;" href="/super/memberList?curPage=1" sec:authorize="hasRole('SUPER')">회원목록</a></li>
					<li class="nav-item" style="font-weight: bold;"><a class="nav-link" style="color: white;" href="/super/dashboard_1" sec:authorize="hasRole('SUPER')">대시보드</a></li>
        </ul>
        <form class="form-inline" name="search" action="./search" style="border: 1px solid rgb(49,98,130); border-radius: 3px; padding: 1px 3px; background: rgb(49,98,130); line-height: 32px;" onsubmit="return blankchk();">
					<input class="form-control mr-sm-2" type="search" id="keyword" name="keyword"
						placeholder="스토어에서 검색" aria-label="Search" style="background: none; border: none; color:white; flex: 1;">
					<button class="btn btn-primary my-2 my-sm-0" type="submit" style="padding:0; background: rgb(83,154,196); border: none; width: 30px; height: 30px;"
								><img src="../image/search.png" alt="search" width="24" height="24"></button>
	  </form>
      </div>
    </nav>
	</div>
	<div class="container" style="margin-top: 25px;">
		<div class="row">
			<div class="col-sm-3">
				<ul id="sidebar">
					<li class="submenu_header">카테고리</li>
					<li class="submenu_context"><a href="/genre?category=shooting&curPage=1">슈팅</a></li>
					<li class="submenu_context"><a href="/genre?category=action&curPage=1">액션</a></li>
					<li class="submenu_context"><a
						href="/genre?category=advanture&curPage=1">어드벤처</a></li>
					<li class="submenu_context"><a
						href="/genre?category=simulation&curPage=1">시뮬레이션</a></li>
					<li class="submenu_context"><a href="/genre?category=sports&curPage=1">스포츠</a></li>
					<li class="submenu_context"><a href="/genre?category=fps&curPage=1">FPS</a></li>
				</ul>
			</div>
			<div class="col-sm-9">
				<h4>추천</h4>
				<div id="demo" class="carousel slide" data-ride="carousel">
					<ul class="carousel-indicators">
						<li data-target="#demo" data-slide-to="0" class="active"></li>
						<li data-target="#demo" data-slide-to="1"></li>
						<li data-target="#demo" data-slide-to="2"></li>
					</ul>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<a href="http://innersloth.com/gameAmongUs.php"><img
								src="../image/la.jpg" alt="Los Angeles" width="1100"
								height="500"></a>
							<div class="carousel-caption"
								style="background-color: rgba(0, 0, 0, 0.5)">
								<h3>Among Us</h3>
								<p>by Innersloth</p>
							</div>
						</div>
						<div class="carousel-item">
							<a href="https://www.pubg.com/ko/"><img
								src="../image/chicago.jpg" alt="Chicago" width="1100"
								height="500"></a>
							<div class="carousel-caption"
								style="background-color: rgba(0, 0, 0, 0.5)">
								<h3>BattleGround</h3>
								<p>by PUBG</p>
							</div>
						</div>
						<div class="carousel-item">
							<a href="https://www.rockstargames.com/kr/"><img
								src="../image/ny.jpg" alt="New York" width="1100" height="500"></a>
							<div class="carousel-caption"
								style="background-color: rgba(0, 0, 0, 0.5)">
								<h3>GTA V</h3>
								<p>by Rockstar North</p>
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#demo" data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					</a> <a class="carousel-control-next" href="#demo" data-slide="next">
						<span class="carousel-control-next-icon"></span>
					</a>
				</div>
				<br>
				<h4>등록된 게임</h4>
				<div class="row row-cols-1 row-cols-md-2">
					<div class="col mb-4">
						<div class="card">
							<a th:href="@{/game(number=${list[0].number})}"> <img
								class="card-img-top" alt="..." id="one_image">
							</a>
							<div class="card-body">
								<h5 class="card-title" id="one_name" style="font-weight: bold;">-</h5>
								<!-- <p class="card-text" id="one_explain">-</p> -->
								<div class="container">
									<div class="row" style="text-align: right;">
										<div class="card bg-success text-white">
											<div class="card-body" id="one_amount">-</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col mb-4">
						<div class="card">
							<a th:href="@{/game(number=${list[1].number})}"> <img
								class="card-img-top" alt="..." id="two_image">
							</a>
							<div class="card-body">
								<h5 class="card-title" id="two_name" style="font-weight: bold;">-</h5>
								<!-- <p class="card-text" id="two_explain">-</p> -->
								<div class="container" style="text-align: right;">
									<div class="row">
										<div class="card bg-success text-white">
											<div class="card-body" id="two_amount">-</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col mb-4">
						<div class="card">
							<a th:href="@{/game(number=${list[2].number})}"> <img
								class="card-img-top" alt="..." id="three_image">
							</a>
							<div class="card-body">
								<h5 class="card-title" id="three_name"
									style="font-weight: bold;">-</h5>
								<!-- <p class="card-text" id="three_explain">-</p> -->
								<div class="container">
									<div class="row" style="text-align: right;">
										<div class="card bg-success text-white">
											<div class="card-body" id="three_amount">-</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col mb-4">
						<div class="card">
							<a th:href="@{/game(number=${list[3].number})}"> <img
								class="card-img-top" alt="..." id="four_image">
							</a>
							<div class="card-body">
								<h5 class="card-title" id="four_name" style="font-weight: bold;">-</h5>
								<!-- <p class="card-text" id="four_explain">-</p> -->
								<div class="container">
									<div class="row" style="text-align: right;">
										<div class="card bg-success text-white">
											<div class="card-body" id="four_amount">-</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragment/footer :: footer"></div>
</body>
</html>