<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메인페이지</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>

<script type="text/javascript">
	function maxLengthCheck(object) {
		if (object.value.length > object.maxLength) {
			object.value = object.value.slice(0, object.maxLength);
		}
	}
	
	function count_ck(object){
		var chkbox = document.getElementsByName("favorite");
		var chkCnt = 0;
		for(var i=0;i<chkbox.length; i++){
			if(chkbox[i].checked){
				chkCnt++;
			}
		}
		if(chkCnt>3){
			alert("관심분야는 3개까지만 선택할 수 있습니다.");
			object.checked = false;
			return false;
		}
	}
	
	function ck_none(chkbox2){
		var chkbox = document.getElementById("none");
		var chkbox2 = document.getElementsByName("favorite");
		
		if(chkbox.checked)
		{
			$("#shooting").prop('checked', false) ;
			$("#shooting").attr('checked', false) ;
			$("#action").prop('checked', false) ;
			$("#action").attr('checked', false) ;
			$("#advanture").prop('checked', false) ;
			$("#advanture").attr('checked', false) ;
			$("#simulation").prop('checked', false) ;
			$("#simulation").attr('checked', false) ;
			$("#sports").prop('checked', false) ;
			$("#sports").attr('checked', false) ;
			$("#fps").prop('checked', false) ;
			$("#fps").attr('checked', false) ;
		}
	}
</script>

<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<link rel="stylesheet" type="text/css" href="css/register.css" />
<script src="js/register.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

</head>
<body>
	<div th:replace="fragment/header :: navBar"></div>
	
	<div class="container-md"
		style="margin-top: 25px; margin-bottom: 15px; height: 75vh; background: rgba(0, 0, 0, 0.5); overflow-y: scroll; -ms-overflow-style: none;">
		<div class="row" style="color: #fff; padding: 30px;">
			<div class="container-md">
				<div class="row">
					<form name="register" action="./register.do" method="post" onsubmit="return validate();">
						<h2>회원가입</h2>
						<div class="form-group" style="margin-top: 10px;">
							<label for="id">아이디</label> <input type="text"
								class="form-control" id="id" name="id"
								aria-describedby="idHelp" onblur="id_check(this)"><small id="idHelp"
								class="form-text text-muted">이메일 형식으로 입력해주세요.</small>
						</div>
						<div class="idWarn" style="display: none;">
						<i class="badge badge-danger" style="font-style: normal;">!</i>
						<label style="font-weight: bold; color:red;">아이디가 입력되지 않았습니다!</label>
						</div>
						<div class="idExist" style="display: none;">
						<i class="badge badge-danger" style="font-style: normal;" id="toggleId">!</i>
						<label style="font-weight: bold; color:red;" id="id_check">WARNING!</label>
						</div>
						<div class="form-group">
							<div class="container">
								<div class="row">
									<div class="col-sm-6" id="password_normal"
										style="flex: 1; padding-left: 0;">
										<label for="password">비밀번호</label> <input
											type="password" class="form-control"
											id="password" name="password">
									</div>
									<div class="col-sm-6" id="password_check" style="flex: 1;">
										<label for="password2">비밀번호 확인</label> <input
											type="password" class="form-control"
											id="password2" onblur="pw_check(this)">
									</div>
									<div class="eye" style="align-self: flex-end; line-height: 44px;">
										<i id="eyecon" class="fas fa-eye" style="cursor: pointer;" onclick="onoffPassword();"></i>
										<div class="" id="eyestat" style="display: none;"></div>
									</div>
								</div>
							</div>
							<small id="pwHelp" class="form-text text-muted">비밀번호의
								첫글자는 특수문자이고, 연속된 문자는 사용할 수 없습니다.<br>영/숫자 혼합 8자리 이상 12자리 이하로
								입력이 가능합니다.
							</small>
						</div>
						<div class="pwWarn" style="display: none;">
						<i class="badge badge-danger" style="font-style: normal;">!</i>
						<label style="font-weight: bold; color:red;">비밀번호를 확인해주세요!</label>
						</div>
						<div class="pwCheckOn" style="display: none;">
						<i class="badge badge-success" style="font-style: normal;">!</i>
						<label style="font-weight: bold; color:green;">비밀번호가 일치합니다.</label>
						</div>
						<div class="pwCheckOff" style="display: none;">
						<i class="badge badge-danger" style="font-style: normal;">!</i>
						<label style="font-weight: bold; color:red;">비밀번호가 일치하지 않습니다.</label>
						</div>
						<div class="form-group" style="margin-top: 10px;">
							<label for="name">이름</label> <input type="text"
								class="form-control" id="name"
								aria-describedby="nameHelp" name="name">
						</div>
						<div class="nameWarn" style="display: none;">
						<i class="badge badge-danger" style="font-style: normal;">!</i>
						<label style="font-weight: bold; color:red;">이름이 입력되지 않았습니다!</label>
						</div>
						<div class="form-group" style="margin-top: 10px;">
							<label for="gender">성별</label> <select
								class="form-control" id="gender" name="gender">
								<option value="남">남</option>
								<option value="여">여</option>
							</select>
						</div>
						<div class="form-group" style="margin-top: 10px;">
							<label for="address">주소</label>
							<input type="text" id="address" name="address" style="display: none;"/>
							<div class="container">
								<div class="row">
									<div class="col-sm-4" id="address_main"
										style="flex: 1; margin-right: 25px; padding: 0;">
										<select class="form-control" id="address1">
											<optgroup title="bigCity" label="특별시" id="bigCity">
												<option value="서울특별시">서울특별시</option>
											</optgroup>
											<optgroup title="medCity1" label="광역시" id="medCity1">
												<option value="부산광역시">부산광역시</option>
												<option value="대구광역시">대구광역시</option>
												<option value="인천광역시">인천광역시</option>
												<option value="광주광역시">광주광역시</option>
												<option value="대전광역시">대전광역시</option>
												<option value="울산광역시">울산광역시</option>
											</optgroup>
											<optgroup title="medCity2" label="특별자치시" id="medCity2">
												<option value="세종특별자치시">세종특별자치시</option>
											</optgroup>
											<optgroup title="smallCity" label="도" id="smallCity">
												<option value="경기도">경기도</option>
												<option value="강원도">강원도</option>
												<option value="충청북도">충청북도</option>
												<option value="충청남도">충청남도</option>
												<option value="경상북도">경상북도</option>
												<option value="경상남도">경상남도</option>
												<option value="전라북도">전라북도</option>
												<option value="전라남도">전라남도</option>
											</optgroup>
											<optgroup title="etcCity" label="특별자치도" id="etcCity">
												<option value="제주특별자치도">제주특별자치도</option>
											</optgroup>
										</select>
									</div>
									<div class="col-sm-8" id="address_sub"
										style="flex: 1; padding: 0;">
										<input type="text" class="form-control"
											id="address2" aria-describedby="addressHelp">
									</div>
								</div>
							</div>
						</div>
						<div class="addressWarn" style="display: none;">
						<i class="badge badge-danger" style="font-style: normal;">!</i>
						<label style="font-weight: bold; color:red;">주소가 입력되지 않았습니다!</label>
						</div>
						<div class="form-group" style="margin-top: 10px;">
							<label for="phone">전화번호</label><br>
							<input type="text" id="phone" name="phone" style="display: none;"/>
							<div class="numberSet" style="display: inline-flex">
								<input type="number" class="form-control" id="phone1"
									aria-describedby="num1Help" readonly="readonly" value="010">
								<label style="margin-left: 5px; margin-right: 5px;">-</label> <input
									type="number" class="form-control" id="phone2"
									aria-describedby="num2Help" maxlength="4"
									oninput="maxLengthCheck(this)"> <label
									style="margin-left: 5px; margin-right: 5px;">-</label> <input
									type="number" class="form-control" id="phone3"
									aria-describedby="num3Help" maxlength="4"
									oninput="maxLengthCheck(this)">
							</div>
						</div>
						<div class="numberWarn" style="display: none;">
						<i class="badge badge-danger" style="font-style: normal;">!</i>
						<label style="font-weight: bold; color:red;">번호가 입력되지 않았습니다!</label>
						</div>
						<div class="form-check" style="padding: 0; width: 120%">
							<label for="exampleInputFav">관심분야</label><br>
							<div class="favSet" style="display:inline-block;">
								<div class="form-group">
									<input type="checkbox" id="none" name="favorite" value="없음" onclick="ck_none(this)"> <label
										for="none">없음</label>
								</div>
								<div class="form-group">
									<input type="checkbox" id="shooting" name="favorite" value="슈팅" onclick="count_ck(this); ck_none(this);"> <label
										for="shooting">슈팅</label>
								</div>
								<div class="form-group">
									<input type="checkbox" id="action" name="favorite" value="액션" onclick="count_ck(this); ck_none(this);"> <label for="action">액션</label>
								</div>
								<div class="form-group">
									<input type="checkbox" id="advanture" name="favorite" value="어드벤처" onclick="count_ck(this); ck_none(this);"> <label
										for="advanture">어드벤처</label>
								</div>
								<div class="form-group">
									<input type="checkbox" id="simulation" name="favorite" value="시뮬레이션" onclick="count_ck(this); ck_none(this);"> <label
										for="simulation">시뮬레이션</label>
								</div>
								<div class="form-group">
									<input type="checkbox" id="sports" name="favorite" value="스포츠" onclick="count_ck(this); ck_none(this);"> <label for="sports">스포츠</label>
								</div>
								<div class="form-group">
									<input type="checkbox" id="fps" name="favorite" value="FPS" onclick="count_ck(this); ck_none(this);"> <label for="fps">FPS</label>
								</div>
							</div>
							<small id="favHelp"
								class="form-text text-muted" style="margin-top: -5%">최대 3가지의 관심분야를 고를수 있습니다.</small>
						</div>
						<div class="favWarn"  style="display: none;">
						<i class="badge badge-danger" style="font-style: normal;">!</i>
						<label style="font-weight: bold; color:red;">관심분야가 선택되지 않았습니다!</label>
						</div>

						<div class="submit" style="text-align: right;">
							<button type="submit" class="btn btn-primary">회원가입</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragment/footer :: footer"></div>
</body>
</html>