@charset "UTF-8";

body {
	background-image: url('/image/bg.jpg');
	}
	
.bg-dark{
	background-color: rgba(23,26,33,0.95)!important;
}

.card-img-top{
	width: 395.5px;
	height: 395.5px;
}

.carousel-item a img{
	width: 825px;
	height: 500px;
}

h4 {
	margin: 0;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 1em;
	letter-spacing: 2px;
	font-weight: bold;
	color: white;
}

#sidebar{
	padding: 0;
}

#sidebar li{
	list-style-type: none;
}

.submenu_header{
	font-weight: bold;
	color: #c6d4f4;
}

.submenu_context a{
	color: #66c0f4;
}

input[type="search"]:focus{
	box-shadow: none;
}